opam-version: "2.0.8"
variables {
  native: true
  native-tools: true
  native-dynlink: true
  stubsdir:
    "/Users/noe/Documents/School/MP*/Informatique/OCaml/ocaml-td/_opam/lib/ocaml/stublibs:/Users/noe/Documents/School/MP*/Informatique/OCaml/ocaml-td/_opam/lib/ocaml"
  preinstalled: false
  compiler: "4.12.0"
}
